.top-bar {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    grid-gap: 15px;
    /* grid-template-columns: 110px 145px 150px 155px; */
}

.chosen-files {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.chosen-files span {
    color: white;
}