{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/model-delete.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h2>{{model.name}}</h2>
        <div class="top-bar">
            <a href="{% url 'model-detail' model.id %}"><button class="btn-inrow">Отмена</button></a>
            <form method="post">
                {% csrf_token %}
                <button class="btn-inrow" id="delete" type="submit">Удалить</button>
            </form>
        </div>
        <p>Модель будет полностью удалена из базы данных.</p>
    </div>
</body>
</html>